<%- include('partials/header'); -%>
        
    <div class="relative flex justify-start">
        <div class="max-w-4xl min-h-screen bg-white flex-1 px-10 pl-12 py-8 border-r border-l border-gray-200" id="post">
            <input name="title" placeholder="Post Title" class="viking-input text-4xl font-bold text-black mb-4 w-full px-4 border-none overflow-visible" id="title" value="<% if (post.title) { %><%= post.title %><% } %>">
            <div id="editor" data-blocks="<% if (post.body) { %><%= JSON.stringify(post.body) %><% } %>"></div>
        </div>

        <div class="fixed right-0 top-0 flex bg-white border-l border-b border-gray-300 pb-2 pl-5 rounded-bl-lg">
            <div class="inline-block text-gray-500 underline cursor-pointer mr-3 uppercase text-sm flex items-center mt-1" id="save-post">Save</div>
            <div class="group cursor-pointer rounded-full p-2 bg-gray-200 hover:bg-gray-300 mr-3 mt-2" id="settings-open">
                <svg width="20" height="20" class="fill-current text-gray-500 group-hover:text-gray-600" xmlns="http://www.w3.org/2000/svg"><path d="M19.535 8.427l-2.006-.55c-.296-.696-.422-.992-.697-1.71l1.035-1.816a.607.607 0 00-.106-.76L16.41 2.238a.615.615 0 00-.76-.106l-1.817 1.035c-.697-.296-.992-.422-1.71-.697l-.55-2.006A.653.653 0 0010.961 0H9.039c-.296 0-.549.19-.612.465l-.55 2.006c-.696.296-.992.422-1.71.697L4.35 2.133a.607.607 0 00-.76.106L2.238 3.59a.615.615 0 00-.106.76l1.035 1.817c-.296.697-.422.992-.697 1.71l-2.006.55A.653.653 0 000 9.039v1.922c0 .296.19.549.465.612l2.006.55c.296.696.422.992.697 1.71L2.133 15.65a.607.607 0 00.106.76l1.351 1.352a.615.615 0 00.76.106l1.817-1.035c.697.296.992.422 1.71.697l.55 2.006a.653.653 0 00.612.465h1.922c.296 0 .549-.19.612-.465l.55-2.006c.696-.296.992-.422 1.71-.697l1.816 1.035c.254.148.57.106.76-.106l1.352-1.351a.615.615 0 00.106-.76l-1.035-1.817c.296-.697.422-.992.697-1.71l2.006-.55a.653.653 0 00.465-.612V9.039a.653.653 0 00-.465-.612zM10 14a4 4 0 11-.001-7.999A4 4 0 0110 14z" /></svg>
            </div>
        </div>

        <div class="fixed min-w-screen min-h-screen z-50 left-0 w-full" id="settings">
            <div class="absolute min-w-screen min-h-screen w-full top-0 left-0 bg-black opacity-0" id="settings-backdrop"></div>
            <div class="absolute right-0 top-0 bg-gray-100 border-l border-gray-200 min-h-screen container max-w-md z-40 shadow-2xl transition flex justify-between flex-col" id="settings-sidebar">
                <div>
                    <h3 class="text-base font-medium text-gray-500 mt-4 ml-6 inline-block">Post Settings</h3>
                    <div class="absolute right-0 top-0 text-4xl font-thin text-gray-500 cursor-pointer cursor-pointer h-12 w-12 leading-none flex justify-center items-center pt-1 pr-2" id="settings-close">&times;</div>

                    <div class="p-6">

                        <div class="relative cursor-pointer mb-8 h-56 rounded-lg overflow-hidden">
                            <label id="image_preview_upload" class="top-0 left-0 w-full h-56 rounded-lg bg-white border border-gray-200 rounded-lg cursor-pointer block flex flex-col justify-center items-center <% if (post.image) { %>hidden<% } %>">
                                <span class="px-3 py-2 rounded border border-gray-300 bg-white text-xs font-bold text-gray-600">Upload Post Image</span>
                            </label>
                            <div id="image_preview" class="<% if (!post.image) { %>hidden<% } %> w-full h-full">
                                <div id="removeImage" class="w-20 h-6 bg-red-500 text-white absolute right-0 top-0 mr-3 mt-3 rounded-full flex justify-center items-center text-xs leading-none font-bold" onclick="hideImagePreview()">&times; remove</div>
                                <img src="<% if (post.image) { %><%= post.image %><% } else { %>data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==<% } %>" data-pixel="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-name="" class="w-full h-full" id="image">
                            </div>
                            <input type="file" id="image_upload" class="w-full h-full absolute left-0 top-0 opacity-0 cursor-pointer <% if (post.image) { %>hidden<% } %>">
                        </div>

                        <label class="viking-label" for="slug">URL</label>
                        <input class="viking-input" name="slug" id="slug" placeholder="slug" value="<% if(post.slug) { %><%= post.slug %><% } %>">

                        <label class="viking-label mt-8" for="excerpt">Excerpt</label>
                        <textarea class="viking-input h-24" name="excerpt" id="excerpt"><% if(post.excerpt) { %><%= post.excerpt %><% } %></textarea>

                        <div class="mt-6">
                            <label class="viking-label">Type</label>
                        </div>
                        <div class="relative">
                        <select name="type" id="type" class="viking-input">
                            <option value="post" <% if(post.type == 'post') { %><%= 'selected' %><% } %>>Post</option>
                            <option value="page" <% if(post.type == 'page') { %><%= 'selected' %><% } %>>Page</option>
                        </select>
                        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                          </div>
                        </div>

                        <div class="px-5 py-4 rounded-lg border mt-8 flex justify-center bg-white hover:bg-blue-100 items-center cursor-pointer open-toggle" data-toggle="meta-sidebar">
                            <div class="flex flex-col justify-center items-start flex-grow">
                                <p class="font-bold text-gray-800">Meta</p>
                                <p class="font-medium text-xs text-gray-500">Extra Meta Data</p>
                            </div> 
                            <svg class="h-6 w-6 fill-current text-gray-800">
                                <path d="M11.611,10.049l-4.76-4.873c-0.303-0.31-0.297-0.804,0.012-1.105c0.309-0.304,0.803-0.293,1.105,0.012l5.306,5.433c0.304,0.31,0.296,0.805-0.012,1.105L7.83,15.928c-0.152,0.148-0.35,0.223-0.547,0.223c-0.203,0-0.406-0.08-0.559-0.236c-0.303-0.309-0.295-0.803,0.012-1.104L11.611,10.049z"></path>
                            </svg>
                        </div>

                        
                    </div>              </div>
                <div class="text-right p-5 flex justify-end" id="delete-post">
                    <div class="text-red-600 underline text-sm cursor-pointer inline-block flex justify-center items-center" data-slug="<%= post.slug %>">
                        <svg width="18" height="19" class="fill-current text-red-600" xmlns="http://www.w3.org/2000/svg"><g><path d="M0 6.333c0 .875.733 1.584 1.636 1.584v7.916C1.636 17.583 3.102 19 4.91 19h8.182c1.807 0 3.273-1.418 3.273-3.167V7.917c.903 0 1.636-.71 1.636-1.584V4.75c0-.874-.733-1.583-1.636-1.583H13.09V1.583C13.09.71 12.358 0 11.455 0h-4.91C5.642 0 4.91.709 4.91 1.583v1.584H1.636C.733 3.167 0 3.876 0 4.75v1.583zm14.727 9.5c0 .875-.732 1.584-1.636 1.584H4.909c-.904 0-1.636-.71-1.636-1.584V7.917h11.454v7.916zM6.545 1.583h4.91v1.584h-4.91V1.583zM1.636 4.75h14.728v1.583H1.636V4.75z" fill-rule="nonzero"/><path d="M6 16c.552 0 1-.392 1-.875v-5.25C7 9.392 6.552 9 6 9s-1 .392-1 .875v5.25c0 .483.448.875 1 .875zM9 16c.552 0 1-.392 1-.875v-5.25C10 9.392 9.552 9 9 9s-1 .392-1 .875v5.25c0 .483.448.875 1 .875zM12 16c.552 0 1-.392 1-.875v-5.25C13 9.392 12.552 9 12 9s-1 .392-1 .875v5.25c0 .483.448.875 1 .875z"/></g></svg>
                        <span class="ml-2">Delete Post</span>
                    </div>
                </div>
            </div>

            <div class="absolute right-0 top-0 bg-gray-100 border-l border-gray-200 min-h-screen h-full overflow-scroll container max-w-md z-40 shadow-2xl transition" id="meta-sidebar">
                
                <div class="flex">
                    <div class="open-toggle text-xl w-16 h-16 justify-center items-center flex cursor-pointer relative z-10" data-toggle="meta-sidebar">
                        <svg class="h-4 w-4 fill-current text-gray-800" viewBox="0 0 48 48"><path d="M37.802 46.247L12.376 24 37.801 1.753A1 1 0 1036.484.247l-26.286 23a1.004 1.004 0 00.001 1.506l26.286 23a.997.997 0 001.411-.095 1 1 0 00-.094-1.411z"></path></svg>
                    </div>
                    <h3 class="w-full text-center font-bold text-lg flex items-center justify-center absolute h-12 mt-2">Meta data</h3>
                </div>

                <div class="p-6">
                    <label class="viking-label" for="meta_title">Meta Title</label>
                    <input class="viking-input" name="meta_title" id="meta_title" value="<% if(post.meta && post.meta.title) { %><%= post.meta.title %><% } %>">

                    <label class="viking-label mt-8" for="meta_description">Meta Description</label>
                    <textarea class="viking-input h-24" name="meta_description" id="meta_description"><% if(post.meta && post.meta.description) { %><%= post.meta.description %><% } %></textarea>
                
                    <label class="viking-label mt-8" for="meta_schema">Meta Schema</label>
                    <div class="codeeditor-wrapper rounded-lg border border-gray-300 overflow-hidden">
                        <textarea class="viking-input h-64 codeeditor" name="meta_schema" id="meta_schema" cols="30" rows="10"><% if(post.meta && post.meta.schema && post.meta.schema) { %><%= post.meta.schema %><% } %></textarea>
                    </div>

                    <label class="viking-label mt-8" for="meta_data">Extra Meta Data</label>
                    <div class="codeeditor-wrapper rounded-lg border border-gray-300 overflow-hidden">
                        <textarea class="viking-input h-64 codeeditor" name="meta_sdata" id="meta_data" cols="30" rows="10"><% if(post.meta && post.meta.data && post.meta.data) { %><%= post.meta.data %><% } %></textarea>
                    </div>
                </div>

            </div>

            </div>
        </div>
    </div>

    <!-- Hidden Values -->
    <div class="hidden">
        <input type="hidden" value="<% if(Object.entries(post).length === 0) { %>1<% } else { %>0<% } %>" id="createPost">
    </div>

    
<%- include('partials/footer'); -%>
